[MESSAGES CONTROL]
disable=
no-method-argument,
import-error,
missing-module-docstring,
no-self-argument,
missing-function-docstring,
invalid-name,
missing-class-docstring,
too-few-public-methods,
self-cls-assignment,
too-many-public-methods,
wrong-import-order