[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    import-error,
    relative-beyond-top-level,
    wrong-import-order,
    missing-class-docstring,
    missing-function-docstring,
    no-method-argument,
    no-self-argument,
    global-statement,
    invalid-name,
    redefined-builtin,
    redefined-outer-name,
    line-too-long