name: caseStatement
phrase: case
---

language: c | java | javascript | csharp
-
case $1:
    const errorMessage = error instanceof Error ? error.message : String(error);
    $0
---

language: python
-
case $1:
    $0
---
