name: catchStatement
phrase: catch
---

language: cpp
-
catch (const std::exception& e) {
    $0
}
---

language: java | csharp
-
catch(final Exception e) {
    $0
}
---

language: javascript | typescript | javascriptreact | typescriptreact
-
catch(e) {
    $0
}
---

language: python
-
except Exception as e:
    $0
---
