name: classDeclaration
phrase: class
insertionScope: class | statement

$1.insertionFormatter: setting(user.code_class_formatter)
---

language: csharp | java
-
public class $1 {
    $0
}
---

language: cpp | javascript | typescript | javascriptreact | typescriptreact
-
class $1 {
    $0
}
---

language: python
-
class $1:
    $0
---
