name: commentDocumentation
phrase: doc comment | doc string
insertionScope: statement

$0.formatter: SENTENCE
---

language: javascript | java
-
/** $0 */
---

language: python
-
"""$0"""
---

language: python
-
"""$0"""
---
