name: commentLine
phrase: comment

$1.insertionFormatter: SENTENCE
---

language: c | cpp | csharp | json | java | javascript | typescript | javascriptreact | typescriptreact
-
// $1$0
---

language: python | talon | csv
-
# $1$0
---

language: xml | html
-
<!-- $1$0 -->
---

language: scm
-
;; $1$0
---
