name: commentDocumentation
phrase: doc comment | doc string
insertionScope: statement

$0.insertionFormatter: SENTENCE
---

language: c | java | javascript | csharp
-
/** $0 */
---

language: python
-
"""$0"""
---
