name: commentLine
phrase: comment

$msg.insertionFormatter: SENTENCE
---

language: c | cpp | csharp | json | java | javascript | typescript | javascriptreact | typescriptreact
-
// $msg$0
---

language: python | talon | csv
-
# $msg$0
---

language: xml | html
-
<!-- $msg$0 -->
---

language: scm
-
;; $msg$0
---
