name: constructorDeclaration
insertionScope: namedFunction | statement
---

language: cpp
-
$1($2) {
    $0
}
---

language: csharp | java
-
public $1($2) {
    $0
}
---

language: javascript | javascriptreact
-
constructor($2) {
    $0
}
---

language: typescript | typescriptreact
-
public constructor($2) {
    $0
}
---

language: python
-
def __init__(self$2):
    $0
---
