name: constructorDeclaration
insertionScope: namedFunction | statement
---

language: cpp | csharp | java
-
$modifiers $name($1) {
    $0
}
---

language: javascript | javascriptreact
-
constructor($1) {
    $0
}
---

language: typescript | typescriptreact
-
public constructor($1) {
    $0
}
---

language: python
-
def __init__(self$1):
    $0
---
