name: functionDeclaration
insertionScope: namedFunction | statement

$0.wrapperPhrase: funk
$0.wrapperScope: statement
---

language: c | cpp
-
void $name($1) {
    $0
}
---

language: csharp | java
-
$modifiers void $name($1) {
    $0
}
---

language: javascript | typescript | javascriptreact | typescriptreact
-
function $name($1) {
    $0
}
---

language: python
-
def $name($1):
    $0
---
