name: functionDeclaration
phrase: funk
insertionScope: namedFunction | statement

$1.insertionFormatter: setting(user.code_function_formatter)
$0.wrapperPhrase: funk
$0.wrapperScope: statement
---

language: c | cpp
-
void $1($2) {
    $0
}
---

language: csharp | java
-
public void $1($2) {
    $0
}
---

language: javascript | typescript | javascriptreact | typescriptreact
-
function $1($2) {
    $0
}
---

language: python
-
def $1($2):
    $0
---
