name: functionCall
insertionScope: statement

$0.wrapperPhrase: call
---

language: c | cpp | csharp | python | talon | java | javascript | typescript | javascriptreact | typescriptreact
-
$name($0)
---
