name: interfaceDeclaration
phrase: interface
insertionScope: statement

$1.insertionFormatter: setting(user.code_class_formatter)
---

language: csharp
-
interface I$1 {
    $0
}
---

language: java
-
public interface $1 {
    $0
}
---

language: typescript | typescriptreact
-
interface $1 {
    $0
}
---
