language: javascript
---

name: forInLoopStatement
phrase: for in
-
for (const $1 in $2) {
    $0
}
---

name: anonymousFunctionDeclarationAndCall
phrase: self calling
-
(() => {
    $0
})();
---

name: importStarStatement
phrase: import star
-
import * as $0 from "$0";
---

name: importFromStatement
phrase: import from
-
import $0 from "$0";
