name: methodDeclaration
phrase: method
insertionScope: namedFunction | statement

$1.insertionFormatter: setting(user.code_function_formatter)
---

language: javascript | javascriptreact
-
$1($2) {
    $0
}
---

language: typescript | typescriptreact
-
public $1($2) {
    $0
}
---
