name: printStatement
phrase: print
---

language: javascript
-
console.log($TM_SELECTED_TEXT$0)
---

language: java
-
System.out.println($TM_SELECTED_TEXT$0);
---

language: python | talon
-
print($TM_SELECTED_TEXT$0)
---
