name: tryCatchStatement
phrase: try catch
wrapperScope: statement

$1.phrase: try
$0.phrase: catch
---

language: javascript
-
try {
    $1
}
catch(error) {
    $0
}
---

language: python
-
try:
    $1
except Exception as ex:
    $0