name: whileLoopStatement
phrase: while
insertionScope: statement

$0.wrapperPhrase: while
$0.wrapperScope: statement
---

language: c | cpp | csharp | java | javascript | typescript | javascriptreact | typescriptreact
-
while ($1) {
    $0
}
---

language: python
-
while $1:
    $0
---
